/* Fontes e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    color: #e0e0e0;
}

body {
    background-color: #1e1e1e; /* Fundo escuro */
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
    color: #f5f5f5;
    border-bottom: 3px solid #444;
    text-transform: uppercase;
}

/* Seção de chamada */
.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    padding: 40px;
    margin: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.chamada-texto h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fafafa;
    text-align: center;
}

.chamada-texto p {
    font-size: 1.2em;
    color: #b0b0b0;
    margin-bottom: 20px;
}

iframe {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* Seção de categoria de vídeos */
.categoria {
    padding: 40px;
    text-align: center;
}

.categoria h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 30px;
}

.categoria-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.categoria-videos a {
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}

.categoria-videos a:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.categoria-videos img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .chamada-texto h1 {
        font-size: 1.8em;
    }

    .categoria-videos img {
        width: 200px;
        height: 120px;
    }

    .categoria h2 {
        font-size: 1.6em;
    }
}