/* Seção de vídeo principal */
.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 1100px;
    background-color: #222222;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

.chamada-texto h2 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: #e0e0e0;
    font-weight: 600;
}

.chamada-texto p {
    font-size: 1.2em;
    color: #b0b0b0;
    margin-bottom: 30px;
}

.video-embed iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 12px;
}

/* Seção de filmes */
.categoria {
    padding: 40px 20px;
    text-align: center;
    background-color: #222222;
    margin: 0 auto;
    max-width: 1100px;
    border-radius: 12px;
}

.categoria h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 600;
}

.categoria-videos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.categoria-videos a {
    text-decoration: none;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
    width: 250px;
}

.categoria-videos a:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.5);
}

.categoria-videos img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    transition: filter 0.3s ease;
}

.categoria-videos img:hover {
    filter: brightness(1.2);
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        font-size: 2.5rem;
    }

    .chamada-texto h2 {
        font-size: 2.5rem;
    }

    .chamada-texto p {
        font-size: 1.2rem;
    }

    .video-embed iframe {
        height: 300px;
    }

    .categoria-videos {
        flex-direction: column;
        align-items: center;
    }

    .categoria-videos a {
        width: 100%;
        max-width: 300px;
    }
}