/* Estilos Gerais */
body {
    background-color: #FFEBF0; /* Rosa claro */
    color: #5A3D5C; /* Roxo escuro */
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Botão */
button {
    background-color: #FF9A8B; /* Coral */
    color: #FFFFFF;
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF6F61; /* Coral mais escuro no hover */
}

/* Passo */
.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

/* Conteúdo Principal */
main {
    text-align: center;
    max-width: 90%;
}

/* Imagem */
img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}