/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F8FF; /* Azul claro */
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #6A0572; /* Roxo forte */
    color: #FFFFFF;
    padding: 1em 0;
    text-align: center;
}

header input {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #9A52B3; /* Roxo mais claro */
    border-radius: 5px;
}

/* Navegação */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #9A52B3; /* Roxo claro */
    padding: 10px 0;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Lista de Filmes */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-item {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-item img {
    width: 100%;
    border-radius: 10px;
}

.movie-item h3 {
    margin: 10px 0 5px;
    color: #6A0572; /* Roxo forte */
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #6A0572; /* Roxo forte */
    color: #FFFFFF;
}